@model IEnumerable<VidlyMVC.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-primary" })

<br />
<br />

@if (!Model.Any()) //if the model don't have anything, will do the if block,
{
    <text>No movies yet in the Vidly application!</text>
}
else //otherwise, will do the else:
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    @*<td>@movie.Name</td>*@
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

