@*@using VidlyMVC.Models
@model VidlyMVC.Models.Movie*@
@model VidlyMVC.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Name</h2>*@ 
@*<h2>@( ((Movie)ViewData["Movie"]).Name )</h2>*@
@*<h2>@( ((Movie)ViewBag.Movie).Name )</h2>*@

<h2>@Model.Movie.Name</h2>

